<h1>Hotel Room Boooking</h1>
<br />
<form>     
    <div class="form-group">
        <label for="Guest">Guest</label>
        <select id="Guest" class="form-control">
            <option *ngFor="let b of bookings" value=" b.guestID ">{{ b.Guest }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="RoomType">RoomType</label>
        <select id="RoomType" class="form-control">
            <option value="value">text</option>
            <option *ngFor="let b of bookings" value=" b.roomTypeID ">{{ b.RoomTypeName }}</option>
        </select>
        </div>
    <div class="form-group">
        <label>Start Date</label>
        <input id="StartDate" type="date" />
        </div>
    <div class="form-group">
        <label>End Date</label>
        <input id="EndDate" type="date" />
    </div>   
    <div>
        <input type="submit" class="btn btn-info" value="Save">
        <input type="button" class="btn btn-info" value="Edit">
        <input type="button" class="btn btn-info" value="Delete">
    </div>

    <table class='table' *ngIf="bookings">
        <thead>
            <tr>
                <th>Guest Name(C)</th>
                <th>Room Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let booking of bookings">
                <td>{{ booking.GuestName }}</td>
                <td>{{ booking.RoomType }}</td>
                <td>{{ booking.StartDate }}</td>
                <td>{{ booking.EndDate }}</td>
                <td>{{ booking.summary }}</td>
            </tr>
        </tbody>
    </table>
</form>