<h1>Hotel Room Boooking</h1>
<br />
<form>     
    <div class="form-group">
        <label for="Guest">Guest</label>
        <select id="Guest" class="form-control">
            <option value="value">text</option>
        </select>
    </div>
    <div class="form-group">
        <label for="RoomType">RoomType</label>
        <select id="RoomType" class="form-control">
            <option value="value">text</option>
        </select>
        </div>
    <div class="form-group">
        <label>Start Date</label>
        <input id="StartDate" type="date" />
        </div>
    <div class="form-group">
        <label>End Date</label>
        <input id="EndDate" type="date" />
    </div>
</form>